@use 'sass:map';

$ND-primary: (
    50 : #e3e9ef,
    100 : #b9c8d7,
    200 : #8ba3bc,
    300 : #5d7ea1,
    400 : #3a628c,
    500 : #174678,
    600 : #143f70,
    700 : #113765,
    800 : #0d2f5b,
    900 : #072048,
    A100 : #7ea6ff,
    A200 : #4b84ff,
    A400 : #1861ff,
    A700 : #0050fd,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$ND-accent: (
    50 : #f0e7e4,
    100 : #d8c2bc,
    200 : #bf9a90,
    300 : #a57264,
    400 : #915342,
    500 : #7e3521,
    600 : #76301d,
    700 : #6b2818,
    800 : #612214,
    900 : #4e160b,
    A100 : #ff9385,
    A200 : #ff6652,
    A400 : #ff3a1f,
    A700 : #ff2305,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$ND-gray1: (
    50 : #e8e7e7,
    100 : #c6c4c2,
    200 : #a09d9a,
    300 : #797672,
    400 : #5d5853,
    500 : #403b35,
    600 : #3a3530,
    700 : #322d28,
    800 : #2a2622,
    900 : #1c1916,
    A100 : #ffa263,
    A200 : #ff8430,
    A400 : #fc6500,
    A700 : #e35b00,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$ND-white1: (
    50 : #fcfdfd,
    100 : #f9faf9,
    200 : #f5f7f5,
    300 : #f0f4f1,
    400 : #edf1ee,
    500 : #eaefeb,
    600 : #e7ede9,
    700 : #e4ebe5,
    800 : #e1e8e2,
    900 : #dbe4dd,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$ND-white2: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #fefefe,
    400 : #fefefe,
    500 : #fefefe,
    600 : #fefefe,
    700 : #fefefe,
    800 : #fefefe,
    900 : #fdfdfd,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$ND-green: (
    50 : #e9ede6,
    100 : #c7d3c0,
    200 : #a2b596,
    300 : #7d976b,
    400 : #61814c,
    500 : #456b2c,
    600 : #3e6327,
    700 : #365821,
    800 : #2e4e1b,
    900 : #1f3c10,
    A100 : #a0ff78,
    A200 : #7cff45,
    A400 : #58ff12,
    A700 : #4af700,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$ND-warn: (
    50 : #ebe0e0,
    100 : #ccb3b3,
    200 : #ab8080,
    300 : #894d4d,
    400 : #6f2626,
    500 : #560000,
    600 : #4f0000,
    700 : #450000,
    800 : #3c0000,
    900 : #2b0000,
    A100 : #ff6565,
    A200 : #ff3232,
    A400 : #fe0000,
    A700 : #e50000,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$ND-info: (
    50 : #fff7e0,
    100 : #ffecb3,
    200 : #ffdf80,
    300 : #ffd24d,
    400 : #ffc926,
    500 : #ffbf00,
    600 : #ffb900,
    700 : #ffb100,
    800 : #ffa900,
    900 : #ff9b00,
    A100 : #ffffff,
    A200 : #fff9f2,
    A400 : #ffe3bf,
    A700 : #ffd8a6,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);