<article (click)="onClick()">
    <h1>Title</h1>
    <div class="content">
        <div class="text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem numquam culpa eaque ex assumenda quia
            deleniti consequatur necessitatibus unde incidunt mollitia in asperiores iste libero repellat dolores fugit,
            maxime ea?
            Doloribus enim odit nemo repudiandae nisi eaque? Reiciendis adipisci dignissimos error nihil eum facere
            porro sunt, commodi repellendus sit sed nisi temporibus dolorem laborum dolorum debitis obcaecati, dolore,
            sint similique.
            Corrupti quos maiores facilis exercitationem vero laudantium, odio unde fugit veniam minima quidem.
            Perferendis, nulla? Asperiores aliquid voluptates dolore nemo pariatur alias, veniam repellat ipsam,
            molestias ipsum eligendi unde autem.
            Quo qui mollitia, aperiam repellendus voluptas nesciunt asperiores dicta eos consectetur unde quas iste
            incidunt ratione alias dolores consequuntur labore explicabo vel magnam, porro possimus! Perferendis alias
            eaque eius similique?
            Officia, quasi! Saepe vero nulla, pariatur at omnis impedit perferendis fugit deleniti praesentium aperiam
            ex amet et ad sed aut quibusdam magni? Nobis quibusdam numquam accusamus fugit atque praesentium
            reprehenderit.
            Perspiciatis veritatis assumenda cum dicta. Nemo quae ut quisquam provident expedita voluptate maiores
            voluptas impedit. Similique voluptatibus, harum iure aliquam deserunt voluptatum aliquid quos exercitationem
            dolorum, accusamus fugiat dolore nisi!
        </div>
        <div class="image">
            <img src="https://newsdstorage.blob.core.windows.net/news/9be74443-5411-4b8a-8c56-1a9edf8ebfd0-06-01-2022"
                alt="" srcset="">
        </div>
    </div>
</article>