article {
    width: 100vw;
    height: 100%;
    display: flex;
    padding: 1rem .5rem 0 .5rem;
    justify-content: space-around;
    flex-wrap: wrap;

    nd-card {
        width: 30rem;
    }
}

#add-news {
    left: 3rem;
    bottom: 3rem;
    position: absolute;
}


@media only screen and (max-width:550px) {
    nd-card {
        width: 90%;
    }

}